@import "tailwindcss/dist/base.css";
@import "tailwindcss/dist/components.css";
@import "tailwindcss/dist/utilities.css";

.button-img {
  padding: 10px;
  margin: 40px 0;
  font-size: 1.3rem;
}

.img-container {
  padding: 10px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 20vw;
  border-radius: 10px;
  box-shadow: 2px 5px 15px 5px rgb(80, 80, 231);
  background-color: rgba(80, 80, 231, 0.521);
}
